*{
	transition: 1s;
}

#toggle{
	height: 80px;
	width: 300px;
	border-radius: 40px;
	border: 2px solid black;
	margin:50px auto;
	background-color: white;
	cursor: pointer;
}
#circle{
	height: 78px;
	width: 78px;
	margin-left: 1px;
	margin-top: 1px;
	/*transition: 1s;*/
	background-color: black;
	border-radius: 50%;
}
.bck-color{
	background-color: black;
}
.color-white{
	color:white;
}